/* --------- */
/* PDF Viewer */
/* --------- */
.pdf-viewer-container {
  position: relative;
}

.pdf-nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #333;
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
