@font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-ThinItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-Hairline.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "rader";
    src: url("/fonts/rader/PPRader-HairlineItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-condensed";
    src: url("/fonts/formula/PPFormula-CondensedBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-condensed";
    src: url("/fonts/formula/PPFormula-CondensedLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-condensed";
    src: url("/fonts/formula/PPFormula-CondensedItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-condensed";
    src: url("/fonts/formula/PPFormula-CondensedRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-extended";
    src: url("/fonts/formula/PPFormula-ExtendedBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-extended";
    src: url("/fonts/formula/PPFormula-ExtendedLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-extended";
    src: url("/fonts/formula/PPFormula-ExtendedItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-extended";
    src: url("/fonts/formula/PPFormula-ExtendedMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-ExtraboldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-narrow";
    src: url("/fonts/formula/PPFormula-NarrowBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-narrow";
    src: url("/fonts/formula/PPFormula-NarrowBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-narrow";
    src: url("/fonts/formula/PPFormula-NarrowRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-narrow";
    src: url("/fonts/formula/PPFormula-NarrowSemibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula";
    src: url("/fonts/formula/PPFormula-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-semicondensed";
    src: url("/fonts/formula/PPFormula-SemiCondensedLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-semicondensed";
    src: url("/fonts/formula/PPFormula-SemiCondensedItalic.ttf")
      format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-semicondensed";
    src: url("/fonts/formula/PPFormula-SemiCondensedMedium.ttf")
      format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-semicondensed";
    src: url("/fonts/formula/PPFormula-SemiCondensedThin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "formula-semiextended";
    src: url("/fonts/formula/PPFormula-SemiExtendedBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "supply-mono";
    src: url("/fonts/supply-mono/PPSupplyMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "supply-mono";
    src: url("/fonts/supply-mono/PPSupplyMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "supply-mono";
    src: url("/fonts/supply-mono/PPSupplyMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "supply-mono";
    src: url("/fonts/supply-mono/PPSupplyMono-Ultralight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  