footer {
    position: relative;
    width: 100vw;
    height: 400px;
    color: var(--bg);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

footer .footer-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--fg);
    padding: 1.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

footer .footer-header {
    position: relative;
    text-align: center;
    padding-top: 1em;
}

footer .footer-header h1 {
    font-size: 2.5rem;
    margin: 0;
}

footer .footer-row {
    display: flex;
    gap: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 2em;
}

footer .footer-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

footer .footer-col p {
    font-size: 1.2rem;
    margin: 0;
}

footer .footer-col a {
    color: var(--bg);
}

footer .footer-col p:not(:first-child) {
    opacity: 0.35;
}

footer .copyright-info {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-bottom: 4em;
}

footer .copyright-info p {
    font-size: 0.85rem;
    margin: 0;
}

footer .footer-symbols {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
}

footer .footer-symbols img {
    width: auto;
    height: 1rem;
}

footer .footer-symbols-1 {
    top: 0;
}

footer .footer-symbols-2 {
    bottom: 0;
}

footer .explosion-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    overflow: hidden;
}

footer .explosion-particle-img {
    position: absolute;
    bottom: -200px;
    left: 50%;
    width: 150px;
    border-radius: 1rem;
    height: auto;
    object-fit: cover;
    transform: translateX(-50%);
    will-change: transform;
}

@media (max-width: 1000px) {
    footer {
        height: 600px;
    }

    footer .copyright-info {
        flex-direction: column;
        text-align: center;
        gap: 0.5em;
    }

    footer .copyright-info p:nth-child(2) {
        display: none;
    }

    footer .footer-row {
        flex-direction: column;
        margin-bottom: 2em;
    }

    footer .footer-row .footer-col:nth-child(2),
    footer .footer-row .footer-col:nth-child(4) {
        display: none;
    }

    footer .explosion-container {
        display: none;
    }
}