:root {
    --bg: #edf1e8;
    --bg2: #d7dbd2;
    --fg: #141414;
    --accent1: #ed6a5a;
    --accent2: #f4f1bb;
    --accent3: #9bc1bc;
    --accent4: #5d576b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-family: "rader";
    font-style: italic;
    line-height: 0.95;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--fg);
}

p,
p.ss {
    font-family: "formula-narrow";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.02em;
}

p.mn {
    text-transform: uppercase;
    font-family: "supply-mono";
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: 0.15em;
    opacity: 0.6;
}

/* Shared Section Headers */
.section-header {
    text-align: center;
    z-index: 20;
}

.section-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--fg);
    margin-bottom: 1rem;
    font-family: "Supply Mono", monospace;
}

.section-subtitle {
    color: #666;
    margin: 0;
    font-family: "Supply Mono", monospace;
}

@media (max-width: 1000px) {
    .section-title {
        font-size: 2.5rem;
    }
}