.hero {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero .hero-header h1 {
    font-size: 18vw;
    line-height: 0.9;
}

.hero .hero-header.hero-header-1 {
    position: relative;
    transform: translateX(-2%);
    z-index: -1;
}

.hero .hero-header.hero-header-2 {
    position: relative;
    transform: translateX(10%);
    z-index: 2;
}

.hero .hero-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.hero .hero-footer .hero-footer-scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero .hero-footer .hero-footer-symbols {
    height: 1rem;
}

/* Img holder */
.hero-img-holder {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.hero-img-holder .hero-img {
    position: relative;
    width: 80%;
    aspect-ratio: 16/9;
    max-width: 100%;
    max-height: 80%;
    transform: translateY(-110%) scale(0.25) rotate(-15deg);
    border: 0.3em solid var(--fg);
    border-radius: 2em;
    overflow: hidden;
    margin-top: -4em;
}

.hero-img-holder .hero-img iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 1000px) {
    .hero {
        padding: 1.5em;
    }

    .hero .hero-header h1 {
        font-size: clamp(15vw, 20vw, 25vw);
    }

    .hero .hero-footer {
        padding: 1.5em;
    }

    .hero .hero-footer .hero-footer-symbols {
        display: none;
    }

    .hero .hero-footer .hero-footer-scroll-down {
        left: 1.5em;
        transform: translateX(0%);
    }

    .hero-img-holder {
        padding: 1.5em;
        height: 70svh;
        align-items: center;
    }

    .hero-img-holder .hero-img {
        width: 100%;
        max-height: 100%;
        transform: none !important;
        margin-top: 0;
        border-width: 0.2em;
        border-radius: 1em;
    }
}
