.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

#scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

#no-scroll {
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container-fluid {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container-fluid {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    max-width: 720px;
  }
  
  .App {
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    max-width: 540px;
  }
  
  .App {
    padding: 0 5px;
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}