html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );
  
  scroll-behavior: smooth;
}

.blue {
  color: #75aadb !important;
}

.badger-red {
  color: #C5050C !important;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/* Preloader */
/* --------- */
.preload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  color: #75aadb;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.preload h1 {
  font-family: 'Source Serif Pro', serif;
  margin: 0;
  cursor: default;
}

/* --------- */
/* Button */
/* --------- */
.primary_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: left;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #accce6 0%, #75aadb 100%), radial-gradient(circle at top left, #accce6, #75aadb);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px #a7cbe8;
  transition: all 0.4s ease 0s;
}

.primary_btn span {
  padding: 0 42px; 
}

.primary_btn.tr-bg {
  background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #accce6, #75aadb);
  border: 2px solid transparent;
  color: #222222;
  box-shadow: none; 
}

.primary_btn.tr-bg:hover {
  background-image: linear-gradient(to right, #accce6 0%, #75aadb 100%), radial-gradient(circle at top left, #accce6, #75aadb);
  border: double 2px transparent;
  color: #ffffff;
  box-shadow: 0px 10px 30px #a7cbe8; 
}

.primary_btn:hover {
  background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #accce6, #75aadb);
  border: 2px solid #75aadb;
  color: #222222;
  box-shadow: none;
  background-clip: border-box; 
  transition: background-color 0.3s;
}

.pdf-viewer-container {
  position: relative;
}

.pdf-nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #333;
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* --------- */
/* Scrollbar */
/* --------- */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
  border-radius: 12px;
}

/* --------- */
/* Navbar */
/* --------- */
.sticky {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  width: 100%;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 2.4em !important;
  width: 4.5em !important;
}

/* Custom Navigation */
.custom-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.nav-item-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: all 0.3s ease-in-out;
  color: white;
}

.nav-link-custom {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link-custom:hover {
  transform: translateY(-5px);
}

.nav-link-custom .icon {
  font-size: 1.8rem;
  margin-bottom: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link-custom:hover .icon {
  transform: scale(1.2);
  color: #accce6;
}

.nav-link-custom span {
  font-size: inherit;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link-custom:hover span {
  transform: translateY(-3px);
  color: #accce6;
}

.nav-link-custom:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #75aadb;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link-custom:hover:after {
  width: 100%;
  left: 0;
}

/* Specific Styling for Courses, Projects, Resume */
.nav-item-custom.courses,
.nav-item-custom.projects,
.nav-item-custom.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-item-custom.courses .nav-link-custom,
.nav-item-custom.projects .nav-link-custom,
.nav-item-custom.resume .nav-link-custom {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item-custom.courses .nav-link-custom .icon,
.nav-item-custom.projects .nav-link-custom .icon,
.nav-item-custom.resume .nav-link-custom .icon {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.nav-item-custom.courses .nav-link-custom:hover,
.nav-item-custom.projects .nav-link-custom:hover,
.nav-item-custom.resume .nav-link-custom:hover {
  transform: translateY(-5px);
  color: #accce6;
}

/* Fork Button */
.fork-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.fork-btn-inner {
  color: white !important;
  line-height: 1.4em !important;
  background-color: #003373 !important;
  padding: 0.25rem 1.1rem !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #75aadb !important;
}

/* --------- */
/* Home section */
/* --------- */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home-logo {
  padding-bottom: 20px !important;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: black;
  text-align: left;
}

.heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #75aadb;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #75aadb !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #75aadb !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvatar {
  justify-content: center !important;
  padding-top: 9em !important;
}

@media (max-width: 767px) {
  .myAvatar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: 'black' !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
}

.project-heading {
  color: black !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.project-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px #accce6 !important;
  color: black !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 4px 4px 5px #0060a8 !important;
}

.card-img-top {
  padding: 20px !important;
  border-radius: 10px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #0060a8 !important;
  border-color: #0060a8 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #0060a8 !important;
  border-color: #0060a8 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* --------- */
/* ProjectCard */
/* --------- */
.github-button {
  background-color: #000000 !important;
  color: #FFFFFF !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.github-button:hover {
  background-color: #333333 !important;
  color: #FFFFFF !important;
}

.demo-button {
  background-color: #808080 !important;
  color: #FFFFFF !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.demo-button:hover {
  background-color: #A9A9A9 !important;
  color: #FFFFFF !important;
}

/* --------- */
/* Skills */
/* --------- */
.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid #fff !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px #a7cbe8 !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid #003373 !important;
}

.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* --------- */
/* Experience */
/* --------- */
.vertical-timeline-element-image {
  border: 2px solid #accce6;
  border-radius: 5px;
}

/* --------- */
/* Contact */
/* --------- */
.contact_info .info_item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
}

.contact_info .info_item h4 {
  font-size: 20px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  color: #000;
  width: 100%;
}

.contact_info .info_item h4 a {
  color: black;
  text-decoration: none;
}

.contact_info .info_item h4 a:hover {
  color: #75aadb;
}

.wisc-email:hover {
  color: #C5050C !important;
}

/* --------- */
/* Course Taken */
/* --------- */
.course_taken_right_text {
  margin-top: 50px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  margin-left: 100px;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color:  #0a0416;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}

.footer-copyright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copyright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

/* --------- */
/* Image Preview */
/* --------- */
.img-preview {
  position: absolute;
  transform: translate(-50%, -10%);
  z-index: 100;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}